{% extends 'base.html.twig' %}
{% block title %}
    {{ 'name.locations'|trans }}
{% endblock %}
{% block content %}
    <div class="container w-75 p-3 float-none"><br/><br/>
        <div>
            {% include 'default/_flash_messages.html.twig' %}
        </div>
        <h1>{{ 'name.locations'|trans }}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('location_add') }}" class="btn btn-primary" title="{{ 'action.add'|trans }}">
                {{ 'action.add'|trans }}</a>
            {% endif%}
        </h1>
        {% if locations is defined and locations|length %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'label.name'|trans }}</th>
                        <th>Adres</th>
                        <th scope="col">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>{{ 'label.actions'|trans }}
                        </th>
                        {% if is_granted('ROLE_ADMIN') %}
                         <th scope="col">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>{{ 'label.actions'|trans }}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in locations %}
                    <tr>
                        <td>{{ item.name }}
                        <td>{{ item.city }}, {{ item.street }} {{ item.number }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('spectacle_index_location', {'location': item.id}) }}" class="btn btn-info" title="{{ 'action.view'|trans }}">
                                    {{ 'action.view'|trans }}
                                </a>
                            </div>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('location_delete', {'id': item.id}) }}" class="btn btn-danger" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                {{ 'message.empty_list'|trans }}
            </div>
        {% endif %}
        <div class="navigation text-center">
            {{ pagerfanta(locations, 'twitter_bootstrap3_translated', { routeName: ('location_index_paginated') }) }}
        </div>
    </div>
{% endblock %}