{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.spectacle.delete'|trans }}
{% endblock %}

{% block content %}
	<div class="container w-75 p-3"><br/>
	{% if is_granted('ROLE_ADMIN') %}
		<div class="alert alert-danger" role="alert">
		  {{'question.confirmation.spectacle'|trans}}
		</div>
		{% if spectacle is defined and spectacle|length %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><i>{{ spectacle.play.title }} </i></h5>
					<h6 class="card-subtitle mb-2 text-muted">Lokalizacja: {{ spectacle.location.name }}</h6>
					<p class="card-text">Data: {{ spectacle.date|date('Y-m-d') }}</br>Godzina: {{ spectacle.time|date('H:i') }} </br> Wolne miejsca: {{ spectacle.seats}} </br> Cena biletu: {{ spectacle.price}}</p>
				</div>
			</div>
		{% else %}
			<p>
				{{ 'message.empty_list'|trans }}
			</p>
		{% endif %}
		{% include 'default/_form.html.twig' with {
			page_title: '',
			attr: {
			method: 'post',
			action: url('spectacle_delete', {'id': spectacle.id})
			},
			back_to_list_path: 'spectacle_index',
			submit_label: 'Usuń'
		} %}
	{% else %}
		<div class="alert alert-danger" role="alert">
			{{ 'message.error.not.allow'|trans }}
		</div>
	{% endif %}
	</div>
{% endblock %}