{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.detail.edit'|trans }}
{% endblock %}

{% block content %}
<div class="container w-75 p-3"><br/>
    <div>
        {% include 'default/_flash_messages.html.twig' %}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>
            {{ 'title.detail.edit'|trans }}
        </h1>

        {% include 'default/_form.html.twig' with {
        page_title: '',
        attr: {
        method: 'post',
        action: url('user_edit', {'user': user.id})
        },
        } %}
        <br>
        <br>
        <div class="btn-group">
            <a href="{{ path('detail_index') }}" class="btn btn-default" title="{{ 'action.index'|trans }}">
                {{ 'action.index'|trans }}
            </a>
        </div>
	{% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'message.error.not.allow'|trans }}
        </div>
    {% endif %}
</div>
{% endblock %}