{% extends 'base.html.twig' %}

{% block title %}
    {{ 'name.transactions'|trans }}
{% endblock %}

{% block content %}
<div class="container w-75 p-3"><br/>
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        {% include 'default/_flash_messages.html.twig' %}
    </div>
    <h1>{{ 'name.transactions'|trans }}</h1>
    {% if transactions is defined and transactions|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'label.date'|trans }}</th>
                    <th>{{ 'label.user'|trans }}</th>
                    <th>{{ 'label.paymentmethod'|trans }}</th>
                    <th>{{ 'label.collection'|trans }}</th>
                    <th>{{ 'label.status'|trans }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in transactions %}
                <tr>
                    <td>{{ item.date|date('d-m-Y') }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.paymentmethod.name }}</td>
                    <td>{{ item.collection.name }}</td>
					{% if item.status.name == 'nowe' %}
						<td  class="p-3 mb-2 bg-warning text-dark">{{ item.status.name }}</td>
					{% elseif item.status.name == 'zakończone' %}
						<td  class="p-3 mb-2 bg-secondary text-white">{{ item.status.name }}</td>
					{% elseif item.status.name == 'opłacone' or item.status.name == 'odebrane' %}
						<td  class="p-3 mb-2 bg-success text-white">{{ item.status.name }}</td>
					{% elseif item.status.name == 'realizowane' %}
						<td  class="p-3 mb-2 bg-info text-white">{{ item.status.name }}</td>
					{% elseif item.status.name == 'reklamacja' %}
						<td  class="p-3 mb-2 bg-danger text-white">{{ item.status.name }}</td>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<td>
                            <div class="btn-group">
                                <a href="{{ path('transaction_view', {'transaction': item.id}) }}" class="btn btn-secondary" title="{{ 'action.view.transaction'|trans }}">
                                    {{ 'action.view.transaction'|trans }}
                                </a>
                            </div>
                        </td>
                          <td>
                              <div class="btn-group">
                                <a href="{{ path('status_edit', {'id': item.id}) }}" class="btn btn-primary" title="{{ 'action.edit.status'|trans }}">
                                    {{ 'action.edit.status'|trans }}
                                </a>
                            </div>
                        </td>
					{% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
    <div class="navigation text-center">
        {{ pagerfanta(transactions, 'twitter_bootstrap3_translated', { routeName: ('transaction_index_paginated') }) }}
    </div>
	{% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'message.error.not.allow'|trans }}
        </div>
    {% endif %}
	</div>
{% endblock %}